.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect

data/

03_cut_for_16s_cache/

03_cut_for_16s_files/

manuscript/rendered/

gif/

supplemental/index_cache/

supplemental/index_files/

supplemental/index.html

images/

manuscript/analysis_cache/

manuscript/kinda_strict_files/

manuscript/strict_files/

manuscript/mans/

manuscript/all_isolates_files/

manuscript/analysis_files/
